.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 28px;
    color: #fff;
    font-size: 2.5rem;
    transition: all 200ms ease-in-out;
}

.back-button:hover,
.back-button:active {
    color: #4a65ff;
}
