/* Font */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700&display=swap');

/* UNIVERSAL SELECTOR */
* {
    font-family: 'Onest', sans-serif;

    /** It will remove all default 
    ** margins and paddings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 20px;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-active);
}



html {
    scroll-behavior: smooth;
}


/* || ROOT || */
:root {
    /* --COLORS */
    --hue-color: 234;
    --background: #fff;
    --font: #000;
    --accent-color: #fff;
    --transparent: transparent;
    --scrollbar: #47beb1;
    --scrollbar-hover: #52d1c2;
    --scrollbar-active: #62e2d3;
    --inline-link: #42eba4;
    --nav-item-active: #4f78ff;

    --nav-wide-width: 244px;
    /* 335px */
    --nav-medium-width: 200px;
    --nav-narrow-width: 72px;

    /* --TYPOGRAPHY */
    --h1-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    /* 13px */
    --font-size-small: 0.8125rem;
    /* 15px */
    --font-size-regular: 0.9375rem;
    /* 18px */
    --font-size-medium: 1.125rem;
    /* 20px */
    --font-size-large: 1.25rem;
    /* 22px */
    --font-size-extra-large: 1.375rem;

    /* Font Weight*/
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;

    /* Z-INDEX */
    --z-header: 100;
    --z-navbar: 50;

    /* Transitions */
    --transition-hover: 150ms ease-in-out;
    --transition-navigation-toggle: all 250ms ease-in-out;
}



/* --REUSABLE */
a {
    text-decoration: none;
    color: inherit;
}

.section {
    padding: 0;
}

nav ul {
    list-style: none;
}

svg {
    display: block;
}



body {
    background: var(--background);
    color: var(--font);
    font-size: var(--font-size-regular);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}






/* --HEADER */
.header {
    position: fixed;
    height: 100vh;
}

.header__container {
    width: var(--nav-medium-width);
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.header__brand {
    padding: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.header__nav {
    flex-grow: 1;
}


.nav__list {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}


.nav__item {
    padding: 0.75rem;
    margin: 0.25rem 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.nav__item:hover,
.nav__item:active {
    background-color: rgb(227, 231, 235);
}

.nav__item__icon {
    font-size: 1.5rem;
    transition: var(--transition-hover);
}

.nav__item__text {
    padding-left: 0.75rem
}

.nav__item__image {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}


.header__logout {
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: rgb(221, 65, 59);
    margin-top: auto;
    cursor: pointer;
    transition: var(--transition-hover);
}

.header__logout:hover,
.header__logout:active {
    background-color: rgb(227, 229, 231);
}





/* --MAIN */
main {
    width: calc(100% - var(--nav-medium-width));
    margin-left: auto;
    display: flex;
    flex-direction: column;
}



.section {
    background: #4d86be;
    border: 1px solid rgb(255, 79, 35);
}

.section--home {
    /* --HOME */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* --POSTS */
.posts-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(35, 255, 53);
}

.post {
    width: 480px;
    max-width: 100%;
    padding: 1rem 0;
    background: var(--background);
    border-top: 1px solid rgb(191, 196, 199);
    overflow: hidden;
}

.post__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.75rem;
}

.post__user-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.post__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__user-verified {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.post__text {
    padding-bottom: 0.75rem;
    margin-left: 0.5rem;
    white-space: pre-line;
}

.post__image {
    width: 480px;
    max-width: 100%;
}


.post__actions {
    margin: 0.25rem 0;
    white-space: nowrap;
}

.post__actions__btn {
    color: var(--font);
    background: none;
    border: none;
    outline: none;
    font: inherit;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.post__actions__btn:hover {
    color: #747474;
}

.post__actions__btn:active {
    color: #aaaaaa;
}


.post__likes {
    font-weight: var(--font-bold);
    margin-left: 0.5rem;
    cursor: pointer;
}