/* Font */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700&display=swap');

/* UNIVERSAL SELECTOR */
* {
    font-family: 'Onest', sans-serif;

    /** It will remove all default 
    ** margins and paddings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





html {
    scroll-behavior: smooth;
}


/* || ROOT || */
:root {
    /* --COLORS */
    /* default */
    --background: #ffffff;
    --font: #000000;

    /* accent colors */
    --blue-accent: rgb(40, 157, 240);
    --yellow-accent: rgb(255, 213, 0);
    --pink-accent: rgb(249, 26, 130);
    --purple-accent: rgb(120, 87, 255);
    --orange-accent: rgb(255, 123, 0);
    --green-accent: rgb(0, 184, 122);

    --accent-rgb: 40, 157, 240;
    --accent-color: rgb(40, 157, 240);


    --thin-border: #d7dcdf;
    --transparent: transparent;
    --scrollbar: #47beb1;
    --scrollbar-hover: #52d1c2;
    --scrollbar-active: #62e2d3;
    --inline-link: #42eba4;
    --nav-item-active: #4f78ff;

    /* --NAV SIZES */
    --nav-wide-width: 244px;
    --nav-medium-width: 200px;
    --nav-narrow-width: 72px;

    /* --TYPOGRAPHY */
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.5rem;
    /* 13px */
    --font-size-small: 0.8125rem;
    /* 15px */
    --font-size-regular: 0.9375rem;
    /* 18px */
    --font-size-medium: 1.125rem;
    /* 20px */
    --font-size-large: 1.25rem;
    /* 22px */
    --font-size-extra-large: 1.375rem;

    /* Font Weight*/
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;
    --font-extra-bold: 700;

    /* Z-INDEX */
    --z-fixed: 100;
    --z-modal: 200;
    --z-toast: 500;

    /* Transitions */
    --transition-hover: all 150ms ease-in-out;
    --transition-navigation-toggle: all 250ms ease-in-out;
}

body[data-theme="light"] {
    /* light */
    --background: #ffffff;
    --font: #000000;
}

body[data-theme="dark"] {
    /* dark */
    --background: #000000;
    --font: #ffffff;
}

body[data-accent="blue"] {
    --accent-color: rgb(29, 155, 240);
    --accent-rgb: 29, 155, 240;
}
body[data-accent="yellow"] {
    --accent-color: rgb(255, 212, 0);
    --accent-rgb: 255, 212, 0;
}
body[data-accent="pink"] {
    --accent-color: rgb(249, 24, 128);
    --accent-rgb: 249, 24, 128;
}
body[data-accent="purple"] {
    --accent-color: rgb(120, 86, 255);
    --accent-rgb: 120, 86, 255;
}
body[data-accent="orange"] {
    --accent-color: rgb(255, 122, 0);
    --accent-rgb: 255, 122, 0;
}
body[data-accent="green"] {
    --accent-color: rgb(0, 186, 124);
    --accent-rgb: 0, 186, 124;
}


body {
    background: var(--background);
    color: var(--font);
    font-size: var(--font-size-regular);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme--light {
    background: var(--background);
    color: var(--font);
}

.theme--dark {
    background: var(--background);
    color: var(--font);
}


#root {
    position: relative;
    width: 100%;
}

.App {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}



/* --MAIN */
main {
    position: relative;
    --main-width: calc(100% - var(--nav-medium-width));
    width: var(--main-width);
    margin-left: auto;
    display: flex;
    flex-direction: column;
}




/* --REUSABLE */
a {
    text-decoration: none;
    color: inherit;
}

.section {
    padding: 0;
}

nav ul {
    list-style: none;
}

svg {
    display: block;
}

/* --MODAL */
.modal {
    position: fixed;
    z-index: var(--z-modal);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
}


/* --TOAST */
.toast {
    position: fixed;
    z-index: var(--z-toast);
    background: rgba(43, 43, 43, 0.75);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    /* Centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out;
}

.toast.hidden {
    top: 53%;
    visibility: hidden;
    opacity: 0;
}

.toast.visible {
    visibility: visible;
    opacity: 1;
}








/* --HEADER */
.header {
    position: fixed;
    height: 100vh;
}

.header__container {
    width: var(--nav-medium-width);
    border-right: 1px solid #aaaaaa;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.header__brand {
    font-size: var(--font-size-medium);
    font-weight: var(--font-bold);
    font-family: cursive;
    padding: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.header__nav {
    flex-grow: 1;
}


.nav__list {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.nav__list [aria-current='page'] .nav__item {
    outline: 1px solid rgb(209, 209, 209);
}

.nav__list [aria-current='page'] .nav__item .nav__item__avatar {
    outline-offset: 1px;
    outline: 1px solid var(--font);
}

.nav__item {
    padding: 0.75rem;
    margin: 0.25rem 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.nav__item:hover,
.nav__item:active {
    background-color: rgb(228, 230, 233);
}

.nav__item__icon {
    font-size: 1.5rem;
}

.nav__item__text {
    padding-left: 0.75rem
}

.nav__item__avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}


.header__logout {
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: rgb(221, 65, 59);
    margin-top: auto;
    cursor: pointer;
    transition: var(--transition-hover);
}

.header__logout:hover,
.header__logout:active {
    background: rgb(227, 229, 231);
}





.section {
    border: 1px solid rgb(255, 79, 35);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* --POST EDITOR*/
.modal__post-editor {
    width: 100%;
    max-width: 600px;
    max-height: 90vh;
    margin: auto;
    overflow: auto;
    background: #ffffff;
    border-radius: 1rem;
}

.modal__post-editor__header {
    padding: 0.5rem 1rem;
}

.modal__post-editor__header__btn {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: -0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__post-editor__header__btn::before {
    position: absolute;
    content: "";
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: rgba(102, 105, 107, 0.15);
    transform: scale(0);
    transform-origin: center;
    transition: var(--transition-hover);
}

.modal__post-editor__header__btn:hover::before,
.modal__post-editor__header__btn:active::before {
    transform: scale(1);
}

.modal__post-editor .form__textarea__wrapper {
    min-height: 120px;
}





.post-editor {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
}

/* admin avatar area */
.post-editor__admin-avatar-box {
    margin-top: 0.75rem;
    margin-right: 0.75rem;
}

.post-editor__admin-avatar-link {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
}

.post-editor__admin-avatar {
    max-width: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

/* post form */
.post-editor__form {
    width: calc(100% - 48px);
    margin-left: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


/* textarea */
.form__textarea__wrapper {
    padding: 0.75rem 0;
    margin: 0 0.125rem;
    cursor: text;
}

.form__textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    padding: 0.34375rem 0;
}

.form__textarea__placeholder {
    position: absolute;
    color: #7c8c99;
    pointer-events: none;
}

.form__textarea__editable {
    border: none;
    outline: none;
    white-space: pre-wrap;
}

.form__textarea__editable:focus {
    border: none;
    outline: none;
}


/* media preview */
.form__media-preview {
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--thin-border);
}

.media-preview__box {
    display: flex;
    flex-direction: row;
    position: relative;
}

.media-preview__img {
    width: 520px;
    max-width: 100%;
    border-radius: 0.5rem;
}

/* media preview tools */
.media-preview__remove-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    background: rgba(24, 30, 36, 0.7);
    color: #fff;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.media-preview__remove-btn:hover,
.media-preview__remove-btn:active {
    background: rgba(47, 54, 61, 0.7);
}



/* post-editor footer */
.form__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem -0.375rem;
}

.form__media-label {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.form__media-label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(var(--accent-rgb), 0.15);
    transform: scale(0);
    transform-origin: center;
    transition: var(--transition-hover);
}

.form__media-label:hover::before,
.form__media-label:active::before {
    transform: scale(1);
}

.form__custom-icon {
    font-size: 1.5rem;
    color: var(--accent-color);
    cursor: pointer;
}

.form__media-input {
    display: none;
}

.form__post-button {
    display: inline-block;
    background: var(--accent-color);
    color: #ffffff;
    font-weight: var(--font-bold);
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    margin-left: 0.75rem;
    user-select: none;
    cursor: pointer;
    transition: var(--transition-hover);
}

.form__post-button.disabled {
    background: rgba(var(--accent-rgb), 0.6);
    color: hsla(0, 0%, 100%, 0.8);
    pointer-events: none;
}

.form__post-button:hover {
    transform: scale(0.95);
}










/* --HOME */
.home {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home__post__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--thin-border);
}

.home__post__nav__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.home__post__nav__btn:hover {
    background: #e7e9eb;
}


.post__nav__btn__text {
    position: relative;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__nav__btn__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    min-width: 56px;
    width: 100%;
    border-radius: 10rem;
    background: var(--accent-color);
    transition: var(--transition-hover);
    transform: scaleX(0);
    transform-origin: center;
}

.post__nav__btn__text.inactive::after {
    transform: scaleX(0);
}

.post__nav__btn__text.active::after {
    transform: scaleX(1);

}




/* --HOME POST EDITOR */
.home__post-editor {
    border-bottom: 1px solid var(--thin-border);
}








/* --POSTS */
.posts-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 480px;
    max-width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid var(--thin-border);
    overflow: hidden;
}

.post__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.75rem;
    cursor: pointer;
}

.post__user-avatar {
    max-width: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.75rem;
    overflow: hidden;
}

.post__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__username {
    font-weight: var(--font-semi-bold);
}

.post__user-verified {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.post__content {
    margin: 0 1rem;
}

.post__text {
    padding-bottom: 0.75rem;
    white-space: pre-line;
}

.post__media {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 1px solid #00000066;
    border-radius: 0.5rem;
}

.post__image {
    width: 480px;
    max-width: 100%;
}


.post__actions {
    display: flex;
    flex-direction: row;
    padding: 0.75rem 1rem 0.25rem 1rem;
    gap: 1.5rem;
    margin: 0.25rem 0;
    white-space: nowrap;
}

.post__actions__btn {
    color: var(--font);
    background: none;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: var(--transition-hover);
}

.post__actions__btn:first-child {
    margin-left: -0.25rem;
}

.post__actions__btn::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(var(--accent-rgb), 0.15);
    transform: scale(0);
    transform-origin: center;
    transition: var(--transition-hover);
}

.post__actions__btn[data-style="like"]::before {
    background: hsla(355, 100%, 59%, 0.15);
}

.post__actions__btn:hover,
.post__actions__btn:active {
    color: var(--accent-color);
}

.post__actions__btn[data-style="like"]:hover {
    color: #ff3040;
}

.post__actions__btn:hover::before {
    transform: scale(1);
}



.post__likes {
    font-weight: var(--font-bold);
    margin-left: 1rem;
}












/* --SEARCH */
.section--search {
    min-height: 100vh;
}

.search {
    height: 100%;
    max-width: 600px;
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.search__input-container {
    width: 100%;
    background: rgb(250, 250, 250);
    background: var(--background);
    border: 1px solid #aaaaaa;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
}

.search__label {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
}

.search__icon {
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(180, 180, 180);
}

.search__icon--clear {
    display: none;
}

.search__input {
    font-size: 1em;
    width: 100%;
    height: 2rem;
    background: none;
    outline: none;
    border: none;
}

.search__input::placeholder {
    color: rgb(180, 180, 180);
}





/* SEARCH RESULTS */
.search__results {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search__results__empty {
    color: #888888;
    margin: auto;
}

.user {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* 
.user:last-child {
    border: none;
} */

.user__avatar-box {
    padding-right: 0.75rem;
    padding-top: 0.25rem;
}

.user__avatar {
    max-width: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.user__info {
    width: 100%;
}

.user__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.user__names-box {
    display: flex;
    flex-direction: column;
}

.user__username {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: var(--font-bold);
}

.user__verified {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.user__name {
    color: #888888;
}

.user__follow-btn {
    width: 6.5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaaaaa;
    border-radius: 0.5rem;
    font-weight: var(--font-bold);
    cursor: pointer;
    user-select: none;
    transition: all 100ms ease-in-out;
}

.user__follow-btn:active {
    width: calc(6.5rem - 6px);
    height: calc(2rem - 2px);
    margin: 0 3px;
    font-size: calc(1em - 1px);
}

.user__follow-btn .following {
    color: #999999;
}

.user__followers {
    padding-bottom: 0.75rem;
}










/* Profile */
.profile {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile__information {
    padding: 2rem 1rem 0;
}

/* identity */
.profile__identity {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile__name {
    font-size: var(--h2-font-size);
    font-weight: var(--font-extra-bold);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile__verified {
    margin-left: 0.5rem;
}

.profile__avatar {
    max-width: 6.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
}



/* stats */
.profile__stats {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.stats__stat {
    display: flex;
    flex-direction: row;
}

.stats__followers {
    margin-right: 1rem;
}

.stat__count {
    font-weight: var(--font-bold);
    margin-right: 0.25rem;
}

.stat__label {
    color: #777777;
}

/* bio */
.profile__bio {
    margin-top: 1rem;
}



/* actions */
.profile__actions {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    margin: 1.5rem 0;
}

.profile__actions-btn {
    font-weight: var(--font-bold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2.25rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    user-select: none;
    transition: all 100ms ease-in-out, background 0ms ease-in-out, color 0ms ease-in-out;
    cursor: pointer;
}

.profile__actions-btn:active {
    font-size: calc(1em - 0.5px);
    height: calc(2.25rem - 2px);
    margin: 1px 3px;
}

.profile__follow-btn {
    background: var(--font);
    color: var(--background);
}

.profile__follow-btn--following {
    background: var(--background);
    color: var(--font);
    border: 1px solid #999999;
}

.profile__share-btn {
    border: 1px solid #999999;
}





/* content */
.profile__posts {
    display: flex;
    flex-direction: column;
}

.profile__post__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--thin-border);
}

.profile__post__nav__type {
    font-weight: var(--font-bold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.profile__post__nav__type:hover {
    background: #e7e9eb;
}


.post__nav__type__text {
    position: relative;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__nav__type__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    min-width: 48px;
    width: 100%;
    border-radius: 10rem;
    background: var(--accent-color);
    transition: var(--transition-hover);
    transform: scaleX(0);
    transform-origin: center;
}

.post__nav__type__text.inactive::after {
    transform: scaleX(0);
}

.post__nav__type__text.active::after {
    transform: scaleX(1);
}