/* Font */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700&display=swap');

/* UNIVERSAL SELECTOR */
* {
    font-family: 'Onest', sans-serif;

    /** It will remove all default 
    ** margins and paddings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* For WebKit browsers (Safari, Chrome) */
    -webkit-tap-highlight-color: transparent;
    /* For Firefox */
    -moz-tap-highlight-color: transparent;
}





html {
    scroll-behavior: smooth;
}


/* || ROOT || */
:root {
    /* --COLORS */
    /* default theme*/
    --background: #ffffff;
    --font: #000000;
    --background-rgb: 255, 255, 255;
    --font-rgb: 0, 0, 0;
    /* Introducing a new concept: The use of the 
    '--balance' CSS custom variable by MohdArham */
    --balance: 0% +;

    --thin-border-color: hsl(0, 0%, calc(var(--balance) 75%));
    --neutral-gray: hsl(0, 0%, 50%);
    --transparent: transparent;

    --scrollbar: #47beb1;
    --scrollbar-hover: #52d1c2;
    --scrollbar-active: #62e2d3;
    --inline-link: #42eba4;


    /* accent color */
    --accent-rgb: 40, 157, 240;
    --accent-color: rgb(40, 157, 240);
    --accent-hw: 204 11%;
    --accent-blackness: 6%;


    /* --NAV SIZES */
    /* Desktop */
    --desktop-nav-wide-width: 335px;
    --desktop-nav-medium-width: 244px;
    --desktop-nav-narrow-width: 74px;
    /* Mobile */
    --mobile-header-top-height: 56px;
    --mobile-header-nav-height: 56px;




    /* --TYPOGRAPHY */
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    /* 13px */
    --font-size-small: 0.8125rem;
    /* 15px */
    --font-size-regular: 0.9375rem;
    /* 18px */
    --font-size-medium: 1.125rem;
    /* 20px */
    --font-size-large: 1.25rem;
    /* 22px */
    --font-size-extra-large: 1.375rem;

    /* Font Weight*/
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;
    --font-extra-bold: 700;

    /* Z-INDEX */
    --z-fixed: 100;
    --z-modal: 200;
    --z-toast: 500;

    /* Transitions */
    --transition-hover: all 150ms ease-in-out;
    --transition-navigation-toggle: all 250ms ease-in-out;
}

body[data-theme="light"] {
    /* light */
    --background: #ffffff;
    --font: #000000;
    --background-rgb: 255, 255, 255;
    --font-rgb: 0, 0, 0;
    /* Introducing a new concept: The use of the 
    '--balance' CSS custom variable by MohdArham */
    --balance: 0% +;
    --thin-border-color: hsl(0, 0%, calc(var(--balance) 75%));
}

body[data-theme="dark"] {
    /* dark */
    --background: #000000;
    --font: #ffffff;
    --background-rgb: 0, 0, 0;
    --font-rgb: 255, 255, 255;
    /* Introducing a new concept: The use of the 
    '--balance' CSS custom variable by MohdArham */
    --balance: 100% -;
    --thin-border-color: hsl(0, 0%, calc(var(--balance) 75%));
}

body[data-accent="blue"] {
    --accent-color: rgb(29, 155, 240);
    --accent-rgb: 29, 155, 240;
    --accent-hw: 204 11%;
    --accent-blackness: 6%;
}

body[data-accent="yellow"] {
    --accent-color: rgb(255, 212, 0);
    --accent-rgb: 255, 212, 0;
    --accent-hw: 50 0%;
    --accent-blackness: 0%;
}

body[data-accent="pink"] {
    --accent-color: rgb(249, 24, 128);
    --accent-rgb: 249, 24, 128;
    --accent-hw: 332 9%;
    --accent-blackness: 2%;
}

body[data-accent="purple"] {
    --accent-color: rgb(120, 86, 255);
    --accent-rgb: 120, 86, 255;
    --accent-hw: 252 34%;
    --accent-blackness: 0%;
}

body[data-accent="orange"] {
    --accent-color: rgb(255, 122, 0);
    --accent-rgb: 255, 122, 0;
    --accent-hw: 29 0%;
    --accent-blackness: 0%;
}

body[data-accent="green"] {
    --accent-color: rgb(0, 186, 124);
    --accent-rgb: 0, 186, 124;
    --accent-hw: 160 0%;
    --accent-blackness: 28%;
}


body {
    background: var(--background);
    color: var(--font);
    font-size: var(--font-size-regular);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme--light {
    background: var(--background);
    color: var(--font);
}

.theme--dark {
    background: var(--background);
    color: var(--font);
}


#root {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}




/* --MAIN */
main {
    position: relative;
    width: calc(100% - var(--desktop-nav-medium-width));
    margin-left: auto;
    display: flex;
    flex-direction: column;
}




/* --REUSABLE */
a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-extra-bold);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-extra-bold);
}

.section {
    padding: 0;
}

nav ul {
    list-style: none;
}

svg {
    display: block;
}

.page-header {
    padding: 1rem;
    border-bottom: 1px solid var(--thin-border-color);
}

.primary-button {
    background: var(--accent-color);
    color: #ffffff;
    font-weight: var(--font-bold);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    user-select: none;
    cursor: pointer;
    transition: var(--transition-hover);
}

.primary-button.disabled {
    background: rgba(var(--accent-rgb), 0.6);
    color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
}

.primary-button:hover,
.primary-button:active {
    background: hwb(var(--accent-hw) calc(var(--accent-blackness) + 12%));
}

/* --MODAL */
.modal {
    position: fixed;
    z-index: var(--z-modal);
    width: 100vw;
    height: 100vh;
    background: rgba(var(--font-rgb), 0.35);
    display: flex;
    flex-direction: row;
}


/* --TOAST */
.toast {
    position: fixed;
    z-index: var(--z-toast);
    background: rgba(43, 43, 43, 0.75);
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    /* Centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out;
}

.toast.hidden {
    top: 53%;
    visibility: hidden;
    opacity: 0;
}

.toast.visible {
    visibility: visible;
    opacity: 1;
}


.section {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page-type__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--thin-border-color);
}

.page-type__nav__btn {
    font-weight: var(--font-bold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.page-type__nav__btn:hover {
    background: hsl(0, 0%, calc(var(--balance) 88%));
}


.page-type__nav__btn__text {
    position: relative;
    text-transform: capitalize;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-type__nav__btn__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    min-width: 48px;
    width: 100%;
    border-radius: 10rem;
    background: var(--accent-color);
    transition: var(--transition-hover);
    transform: scaleX(0);
    transform-origin: center;
}

.page-type__nav__btn__text.inactive::after {
    transform: scaleX(0);
}

.page-type__nav__btn__text.active::after {
    transform: scaleX(1);
}










/* --HEADER */
.header {
    position: absolute;
    z-index: var(--z-fixed);
}


/* --HEADER DESKTOP*/
.header__desktop {
    position: fixed;
    width: var(--desktop-nav-medium-width);
    border-right: 1px solid var(--thin-border-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 1rem;
}

.header__desktop__brand {
    padding: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.header__desktop__brand__text {
    font-size: var(--font-size-medium);
    font-weight: var(--font-bold);
    font-family: cursive;
}

.header__desktop__nav {
    flex-grow: 1;
}


.desktop__nav__list {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}


.desktop__nav__item {
    padding: 0.75rem;
    margin: 0.25rem 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-hover), outline 0ms ease-in-out;
}

.desktop__nav__link[aria-current='page'] .desktop__nav__item {
    outline: 1px solid var(--thin-border-color);
}

.desktop__nav__item:hover,
.desktop__nav__item:active {
    background: rgba(var(--font-rgb), 0.125);
}

.desktop__nav__item__icon {
    font-size: 1.5rem;
}

.desktop__nav__item__text {
    padding-left: 0.75rem
}

.desktop__nav__item__avatar {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.desktop__nav__link[aria-current='page'] .desktop__nav__item__avatar {
    outline-offset: 1px;
    outline: 1px solid var(--font);
}

.desktop__nav__post-btn {
    padding: 0.625rem 1rem;
    margin-top: 0.5rem;
}

.desktop__nav__post-btn__icon {
    display: none;
    font-size: 1.5rem;
}


/* More options btn*/
.header__desktop__menu-btn {
    padding: 0.75rem;
    margin: 0.25rem 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: auto;
    transition: var(--transition-hover), outline 0ms ease-in-out;
}

.header__desktop__menu-btn:hover,
.header__desktop__menu-btn:active {
    background: rgba(var(--font-rgb), 0.125);
}

.header__desktop__menu-btn #menu-checkbox {
    display: none;
    visibility: hidden;
}

.header__desktop__menu-btn__icon {
    font-size: 1.5rem;
}

.header__desktop__menu-btn__text {
    padding-left: 0.75rem
}




/* More Options Menu */
.header__more__options {
    position: fixed;

    background: var(--background);
    width: var(--desktop-nav-medium-width);
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: rgba(var(--font-rgb), 0.2) 0px 0px 15px,
        rgba(var(--font-rgb), 0.2) 0px 0px 3px 1px;
    bottom: 0;
    left: 0;
    margin-left: 1rem;
    margin-bottom: 4.5rem;
}

.header__more__options.hidden {
    display: none;
}

.header__more__options.visible {
    display: block;
}



.more__options__action-btn {
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--thin-border-color);
    cursor: pointer;
    user-select: none;
    transition: var(--transition-hover);
}

.more__options__action-btn:first-child {
    border-top: none;
}

.more__options__action-btn__icon {
    font-size: 1rem;
}

.more__options__action-btn__text {
    padding-left: 0.5rem
}

.more__options__action-btn:hover,
.more__options__action-btn:active {
    background: rgba(var(--font-rgb), 0.1);
}

.header__logout {
    color: rgb(221, 65, 59);
}







/* --HEADER MOBILE*/
.header__mobile {
    display: none;
}

.header__mobile__top {
    position: fixed;
    width: 100%;
    height: var(--mobile-header-top-height);
    top: 0;
    left: 0;
    background: rgba(var(--background-rgb), 0.625);
    backdrop-filter: blur(16px);
    padding: 0 0.75rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__mobile__brand {
    padding: 0.5rem;
}

.header__mobile__brand:hover .header__mobile__brand__text {
    letter-spacing: 1px;
}

.header__mobile__brand:active .header__mobile__brand__text {
    letter-spacing: 0px;
}

.header__mobile__brand__text {
    font-size: var(--font-size-medium);
    font-weight: var(--font-bold);
    font-family: cursive;
    transition: var(--transition-hover);
}

.header__mobile__empty-div {
    width: 3rem;
    height: 3rem;
}


/* Hamburger Manu */
.header__mobile__menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 6px;
}

.header__mobile__menu-btn #menu-checkbox {
    display: none;
    visibility: hidden;
}

.header__mobile__menu-btn .menu-bar {
    --bar-width: 20px;
    width: var(--bar-width);
    height: 2px;
    border-radius: 10rem;
    background: var(--neutral-gray);
    transition: var(--transition-hover);
}

.header__mobile__menu-btn .menu-bar--mid {
    width: calc(var(--bar-width) - 5px);
    margin-left: 5px;
}

.header__mobile__menu-btn:hover .menu-bar {
    background: var(--font);
}

.header__mobile__menu-btn:active .menu-bar {
    --bar-width: 17px;
}

#menu-checkbox[type="checkbox"]:checked~.menu-bar {
    background: var(--font);
}











/* Header Nav */
.header__mobile__nav {
    position: fixed;
    width: 100%;
    height: var(--mobile-header-nav-height);
    bottom: 0;
    left: 0;
    background: var(--background);
    border-top: 1px solid hsl(214, 9%, calc(var(--balance) 84%));
}

.mobile__nav__list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.mobile__nav__link {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--neutral-gray);
    transition: var(--transition-hover);
}

.mobile__nav__link[aria-current='page'] {
    color: var(--font);
}

.mobile__nav__link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 0.5rem;
    opacity: 0;
    transform: scale(0.75);
    transform-origin: center;
    background: rgba(var(--font-rgb), 0.15);
    transition: var(--transition-hover);
}

.mobile__nav__link:hover::before,
.mobile__nav__link:active::before {
    opacity: 1;
    transform: scale(1);
}

.mobile__nav__item {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mobile__nav__item__avatar {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.mobile__nav__link[aria-current='page'] .mobile__nav__item__avatar {
    outline-offset: 1px;
    outline: 1px solid var(--font);
}















/* --MODALS*/
/* post editor modal */
.modal__post-editor {
    background: var(--background);
    width: 100%;
    max-width: 600px;
    max-height: 90vh;
    margin: auto;
    overflow: auto;
    border-radius: 1rem;
}

.modal__post-editor__header {
    padding: 0.5rem 1rem;
}

.modal__close-btn {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: -0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__close-btn::before {
    position: absolute;
    content: "";
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    transform: scale(0);
    transform-origin: center;
    background: rgba(var(--font-rgb), 0.125);
    transition: var(--transition-hover);
}

.modal__close-btn:hover::before,
.modal__close-btn:active::before {
    transform: scale(1);
}

.modal__post-editor .form__textarea__wrapper {
    min-height: 120px;
}





.post-editor {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
}

/* admin avatar area */
.post-editor__admin-avatar-box {
    margin-top: 0.75rem;
    margin-right: 0.75rem;
}

.post-editor__admin-avatar-link {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
}

.post-editor__admin-avatar {
    max-width: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

/* post form */
.post-editor__form {
    width: calc(100% - 48px);
    margin-left: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


/* textarea */
.form__textarea__wrapper {
    padding: 0.75rem 0;
    margin: 0 0.125rem;
    cursor: text;
}

.form__textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    padding: 0.34375rem 0;
}

.form__textarea__placeholder {
    position: absolute;
    color: #7c8c99;
    pointer-events: none;
}

.form__textarea__editable {
    border: none;
    outline: none;
    white-space: pre-wrap;
}

.form__textarea__editable:focus {
    border: none;
    outline: none;
}


/* media preview */
.form__media-preview {
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--thin-border-color);
}

.media-preview__box {
    display: flex;
    flex-direction: row;
    position: relative;
}

.media-preview__img {
    width: 520px;
    max-width: 100%;
    border-radius: 0.5rem;
}

/* media preview tools */
.media-preview__remove-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    background: rgba(24, 30, 36, 0.7);
    color: #ffffff;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.media-preview__remove-btn:hover,
.media-preview__remove-btn:active {
    background: rgba(47, 54, 61, 0.7);
}



/* post-editor footer */
.form__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem -0.375rem;
}

.form__media-label {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.form__media-label::before {
    position: absolute;
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: rgba(var(--accent-rgb), 0.15);
    transform: scale(0);
    transform-origin: center;
    transition: var(--transition-hover);
}

.form__media-label:hover::before,
.form__media-label:active::before {
    transform: scale(1);
}

.form__custom-icon {
    font-size: 1.5rem;
    color: var(--accent-color);
    cursor: pointer;
}

.form__media-input {
    display: none;
}






/* display editor modal */
.modal__display-editor {
    background: var(--background);
    width: 100%;
    max-width: 600px;
    max-height: 90vh;
    padding: 2rem;
    border-radius: 1rem;
    overflow: auto;
    margin: auto;
}

.display-editor__heading {
    text-align: center;
    margin-bottom: 1rem;
}

.display-editor__panel-label {
    font-size: var(--font-size-small);
    font-weight: var(--font-extra-bold);
    color: var(--neutral-gray);
    margin-bottom: 0.25rem;
}

.display-editor__panel {
    background: hsl(220, 12%, calc(var(--balance) 90%));
    padding: 0.5rem 0;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.panel__accent-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.panel__accent-option {
    width: 2.5rem;
    height: 2.5rem;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 3px;
    outline: 3px solid var(--transparent);
    transition: var(--transition-hover);
    transform-origin: center;
}

.panel__accent-option:hover {
    outline-width: 3px;
    outline-style: solid;
}

.panel__accent-option.blue {
    background: rgb(29, 155, 240);
}

.panel__accent-option.blue:hover {
    outline-color: rgb(29, 155, 240, 0.3);
}

.panel__accent-option.yellow {
    background: rgb(255, 212, 0);
}

.panel__accent-option.yellow:hover {
    outline-color: rgb(255, 212, 0, 0.3);
}

.panel__accent-option.pink {
    background: rgb(249, 24, 128);
}

.panel__accent-option.pink:hover {
    outline-color: rgb(249, 24, 128, 0.3);
}

.panel__accent-option.purple {
    background: rgb(120, 86, 255);
}

.panel__accent-option.purple:hover {
    outline-color: rgb(120, 86, 255, 0.3);
}

.panel__accent-option.orange {
    background: rgb(255, 122, 0);
}

.panel__accent-option.orange:hover {
    outline-color: rgb(255, 122, 0, 0.3);
}

.panel__accent-option.green {
    background: rgb(0, 186, 124);
}

.panel__accent-option.green:hover {
    outline-color: rgb(0, 186, 124, 0.3);
}



.panel__theme-selector {
    display: flex;
    flex-direction: row;
    padding: 0 0.75rem;
}

.modal__theme-selector__btn {
    background: #818181;
    height: 4rem;
    font-weight: var(--font-extra-bold);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: 0.25rem;
    margin: 0.25rem;
    cursor: pointer;

}

.modal__theme-selector__btn.selected {
    outline: 2px solid var(--accent-color);
}

.modal__theme-selector__btn.light {
    background: #ffffff;
    color: #000000;
}

.modal__theme-selector__btn.dark {
    background: #000000;
    color: #ffffff;
}

.theme-selector__btn__state {
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #5c6e7e;
    border-radius: 50%;
}

.theme-selector__btn__state::before {
    position: absolute;
    content: "";
    width: 2.25rem;
    height: 2.25rem;
    background: rgba(var(--accent-rgb), 0.15);
    border-radius: 50%;
    transform: scale(0);
    transform-origin: center;
    transition: var(--transition-hover);
}

.modal__theme-selector__btn:hover .theme-selector__btn__state::before,
.modal__theme-selector__btn:active .theme-selector__btn__state::before {
    transform: scale(1);
}



.theme-selector__btn__state.selected {
    border: 2px solid transparent;
    background: var(--accent-color);
}

.theme-selector__btn__text {
    text-transform: capitalize;
    margin-left: 5px;
}

.display-editor__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}







/* --HOME */
.home {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home__post__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--thin-border-color);
}

.home__post__nav__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.home__post__nav__btn:hover {
    background: hsl(0, 0%, calc(var(--balance) 88%));
}


.post__nav__btn__text {
    position: relative;
    font-weight: var(--font-bold);
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__nav__btn__text.inactive {
    color: hsl(203, 5%, 50%);
}

.post__nav__btn__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    min-width: 56px;
    width: 100%;
    border-radius: 10rem;
    background: var(--accent-color);
    transition: var(--transition-hover);
    transform: scaleX(0);
    transform-origin: center;
}

.post__nav__btn__text.inactive::after {
    transform: scaleX(0);
}

.post__nav__btn__text.active::after {
    transform: scaleX(1);

}




/* --HOME POST EDITOR */
.home__post-editor {
    border-bottom: 1px solid var(--thin-border-color);
}








/* --POSTS */
.posts-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 480px;
    max-width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--thin-border-color);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.post__side-avatar {
    top: 0;
    margin-bottom: auto;
}

.post__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.post__user-avatar {
    max-width: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.75rem;
    overflow: hidden;
}

.post__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__username {
    font-weight: var(--font-bold);
}

.post__user-verified {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.post__content {
    margin-right: 0 1rem;
}

.post__text {
    padding-bottom: 0.75rem;
    white-space: pre-line;
}

.post__media {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 1px solid #00000066;
    border-radius: 0.5rem;
}

.post__image {
    width: 480px;
    max-width: 100%;
}


.post__actions {
    display: flex;
    flex-direction: row;
    padding: 0.75rem 0rem 0.25rem 0rem;
    gap: 1rem;
    margin: 0.25rem 0;
    white-space: nowrap;
}

.post__actions__btn {
    color: var(--font);
    background: none;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: var(--transition-hover);
}

.post__actions__btn:first-child {
    margin-left: -0.25rem;
}

.post__actions__btn::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(var(--accent-rgb), 0.15);
    transform: scale(0);
    transform-origin: center;
    transition: var(--transition-hover);
}

.post__actions__btn[data-style="like"]::before {
    background: rgba(255, 46, 63, 0.15);
}

.post__actions__btn:hover,
.post__actions__btn:active {
    color: var(--accent-color);
}

.post__actions__btn[data-style="like"]:hover {
    color: #ff3040;
}

.post__actions__btn:hover::before {
    transform: scale(1);
}



.post__likes {
    font-weight: var(--font-bold);
}












/* --SEARCH */
.section--search {
    min-height: 100vh;
}

.search {
    height: 100%;
    max-width: 600px;
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.search__input-container {
    width: 100%;
    background: hsl(0, 0%, calc(var(--balance) 95%));
    border: 1px solid hsl(0, 0%, calc(var(--balance) 70%));
    border-radius: 1rem;
    padding: 0.75rem 1rem;
}

.search__label {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
}

.search__icon {
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(180, 180, 180);
}

.search__icon--clear {
    display: none;
}

.search__input {
    font-size: 1em;
    color: var(--font);
    width: 100%;
    height: 2rem;
    background: none;
    outline: none;
    border: none;
}

.search__input::placeholder {
    color: rgb(180, 180, 180);
}





/* SEARCH RESULTS */
.search__results {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search__results__empty {
    color: var(--neutral-gray);
    margin: auto;
}

.user {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    border-bottom: 1px solid hsl(0, 0%, calc(var(--balance) 85%));
    cursor: pointer;
}

/* 
.user:last-child {
    border: none;
} */

.user__avatar-box {
    padding-right: 0.75rem;
    padding-top: 0.25rem;
}

.user__avatar {
    max-width: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.user__info {
    width: 100%;
}

.user__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.user__names-box {
    display: flex;
    flex-direction: column;
}

.user__username {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: var(--font-bold);
}

.user__verified {
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.user__name {
    color: var(--neutral-gray);
}

.user__follow-btn {
    width: 6.5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(0, 0%, calc(var(--balance) 67%));
    border-radius: 0.5rem;
    font-weight: var(--font-bold);
    cursor: pointer;
    user-select: none;
    transition: all 100ms ease-in-out;
}

.user__follow-btn:active {
    width: calc(6.5rem - 6px);
    height: calc(2rem - 2px);
    margin: 0 3px;
    font-size: calc(1em - 1px);
}

.user__follow-btn .following {
    color: var(--neutral-gray);
}

.user__followers {
    padding-bottom: 0.75rem;
    font-weight: var(--font-light);
}










/* Notifications */
.notifications {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notifictions__list{
    padding: 0 1rem;
}

.notifictions__item {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 1px solid var(--thin-border-color);
}

.notifictions__item__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .notification__item__text {} */












/* Saved*/
.saved {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

















/* Profile */
.profile {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile__information {
    padding: 2rem 1rem 0;
}

/* identity */
.profile__identity {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile__name {
    font-size: var(--h2-font-size);
    font-weight: var(--font-extra-bold);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile__verified {
    margin-left: 0.5rem;
}

.profile__avatar {
    max-width: 6.25rem;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
}



/* stats */
.profile__stats {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.stats__stat {
    display: flex;
    flex-direction: row;
}

.stats__followers {
    margin-right: 1rem;
}

.stat__count {
    font-weight: var(--font-bold);
    margin-right: 0.25rem;
}

.stat__label {
    color: var(--neutral-gray);
}

/* bio */
.profile__bio {
    margin-top: 1rem;
}



/* actions */
.profile__actions {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    margin: 1.5rem 0;
}

.profile__actions-btn {
    font-weight: var(--font-bold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2.25rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    user-select: none;
    transition: all 100ms ease-in-out, background 0ms ease-in-out, color 0ms ease-in-out, border 0ms ease-in-out;
    cursor: pointer;
}

.profile__actions-btn:active {
    font-size: calc(1em - 0.5px);
    height: calc(2.25rem - 2px);
    margin: 1px 3px;
}

.profile__follow-btn {
    background: var(--font);
    color: var(--background);
}

.profile__follow-btn--following {
    background: var(--background);
    color: var(--font);
    border: 1px solid var(--thin-border-color);
}

.profile__share-btn {
    border: 1px solid var(--thin-border-color);
}





/* content */
.profile__posts {
    display: flex;
    flex-direction: column;
}

.profile__post__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--thin-border-color);
}

.profile__post__nav__type {
    font-weight: var(--font-bold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-hover);
}

.profile__post__nav__type:hover {
    background: hsl(0, 0%, calc(var(--balance) 88%));
}


.post__nav__type__text {
    position: relative;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__nav__type__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    min-width: 48px;
    width: 100%;
    border-radius: 10rem;
    background: var(--accent-color);
    transition: var(--transition-hover);
    transform: scaleX(0);
    transform-origin: center;
}

.post__nav__type__text.inactive::after {
    transform: scaleX(0);
}

.post__nav__type__text.active::after {
    transform: scaleX(1);
}


