/* --  <1200 px  */
/* @media only screen and (min-width: 1200px) {} */

/* --  <992 px  */
/* @media only screen and (min-width: 992px) {} */
/* --  >768 px  */


/* --  >720 px  */
@media only screen and (max-width: 720px) {

    /* --HEADER */
    /* hide desktop */
    .header__desktop {
        display: none;
    }

    /* show mobile */
    .header__mobile {
        display: flex;
    }

    .mobile__nav {
        display: block;
    }




    /* --HOME */
    .home-container {
        padding-top: 4.5rem;
    }

    /* coin-feed */
    .crypto-feed-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2.5rem;
        gap: 2rem 0.8rem;
    }

    .feed-coin {
        width: 100%;
    }

    .feed-coin .coin-icon {
        margin-bottom: 8px;
    }

    .feed-coin .current-price {
        margin-top: 4px;
    }





    /* --MARKET */
    .market__container {
        overflow: hidden;
    }

    .market__content {
        overflow: auto;
    }

    .market__list_label {
        width: 775px;
    }

    .section--market .coin-list {
        width: 775px;
    }





    /* --FEATURES */
    .features__grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .features__grid .grid-cell {
        max-width: 480px;
        width: 100%;
        gap: 1.2rem;
        padding: 0 1rem;
    }

    .features__grid .feature-box {
        width: 100%;
    }

    .features-container .feature-image {
        width: 60%;
    }




    /* --COIN PAGE */
    /* price change */
    .price__change__content .price__change__list {
        gap: 0.7rem 0.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
}




/* --  >606 px  */
@media only screen and (max-width: 606px) {

    /* --MARKET */
    .market__list_label {
        width: 750px;
    }

    .section--market .coin-list {
        width: 750px;
    }



    /* --PAGINATION */
    .market__pagination {
        padding: 1rem 0;
    }

    .pagination__container {
        gap: 0.7rem;
        padding: 0.6rem 0.8rem;
        border-radius: 12px;
    }

    .market__pagination .number-pagination {
        width: 2.3rem;
        height: 2.3rem;
    }

    /* Previous/Next pagination */
    .market__pagination .arrow-pagination {
        width: 2.3rem;
        height: 2.3rem;
    }
}







/* --  >576 px  */
@media only screen and (max-width: 576px) {

    /* || ROOT || */
    :root {
        /* --TYPOGRAPHY */
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        /* 12px */
        --font-size-small: 0.75rem;
        /* 14px */
        --font-size-regular: 0.875rem;
        /* 16px */
        --font-size-medium: 1rem;
        /* 18px */
        --font-size-large: 1.125rem;
        /* 20px */
        --font-size-extra-large: 1.25rem;
    }



    /* --REUSABLE */
    .section {
        padding: 5rem 1.5rem 3rem;
    }

    .button {
        padding: 1.1rem 2.2rem;
    }



    /* --HEADER */
    .header--go-back {
        z-index: var(--z-header);
        padding: 1.25rem 1rem;
    }

    .back-button {
        height: 26px;
        font-size: 2.2rem;
    }

    /* Mobile */
    .header__mobile {
        padding: 1.25rem 1rem;
    }

    /* Hamburger Menu */
    .menu-button {
        width: 26px;
        height: 26px;
    }

    .menu-button .top,
    .menu-button .mid,
    .menu-button .bot {
        width: 24px;
    }




    /* --HOME */
    .home-container {
        padding-top: 3.8rem;
    }

    /* coin-feed */
    .crypto-feed-container {
        margin-top: 2rem;
        gap: 1.5rem 0.8rem;
    }

    .feed-coin .coin-icon {
        width: 4.5rem;
        height: 4.5rem;
        margin-bottom: 6px;
    }

    .feed-coin .current-price {
        margin-top: 3px;
    }




    /* --MARKET */
    .market__section-heading {
        margin: 0 0 1.5rem;
    }

    .market__list_label {
        width: 680px;
        gap: 0.8rem;
    }

    .section--market .coin-list {
        width: 680px;
        gap: 0.7rem;
    }

    .coin-list .coin {
        gap: 0.8rem;
        padding: 0.7rem 0.8rem;
    }

    .coin-list .coin span {
        gap: 0.8rem;
    }

    .coin-list .coin .coin-icon {
        width: 2.6rem;
        height: 2.6rem;
    }


    /* --PAGINATION */
    .market__pagination {
        padding: 1rem 0;
    }

    .pagination__container {
        gap: 0.6rem;
        padding: 0.5rem 0.6rem;
        border-radius: 10px;
    }

    .market__pagination .number-pagination {
        width: 2.1rem;
        height: 2.1rem;
        border-radius: 10px;
    }

    /* Previous/Next pagination */
    .market__pagination .arrow-pagination {
        width: 2.1rem;
        height: 2.1rem;
    }




    /* --FEATURES */
    .features-container .section__heading {
        margin-bottom: 3.4rem;
    }

    .features__grid .feature-box {
        padding: 1.2rem;
        gap: 0.7rem;
    }




    /* --JOIN */
    .join__content .join__p {
        padding-bottom: 4.5rem;
    }






    /* FOOTER */
    .social-icons {
        font-size: 1.6rem;
    }





    /* --COIN PAGE */
    .coin-container .coin-content {
        gap: 0.8rem;
    }

    .coin-content .coin-info-item {
        padding: 0.8rem;
    }

    .coin-content .coin-info-item h3 {
        padding-bottom: 4px;
    }


    .coin-content .coin-name-price {
        padding-top: 0.7rem;
    }

    .coin-content .coin-name-price span {
        gap: 0.8rem;

    }

    .coin-content .coin-icon {
        width: 2.6rem;
        height: 2.6rem;
    }

    /* price change */
    .price__change__item .change__label,
    .price__change__item .change__percentage {
        padding: 7px 0;
    }


    /* coin stats */
    .coin-content .coin-stats-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .coin-stats-grid .grid-cell .stat-box {
        padding: 0.25rem 0;
    }


    /* coin about */
    .coin-content .discription-container {
        max-height: 160px;
    }
}





/* --  >440 px  */
@media only screen and (max-width: 440px) {

    /* || ROOT || */
    :root {
        /* --TYPOGRAPHY */
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.375rem;
        --h3-font-size: 1.125rem;
        /* 12px */
        --font-size-small: 0.6875rem;
        /* 13px */
        --font-size-regular: 0.8125rem;
        /* 15px */
        --font-size-medium: 0.9375rem;
        /* 17px */
        --font-size-large: 1.0625rem;
        /* 19px */
        --font-size-extra-large: 1.1875rem;
    }




    /* --HOME */
    .home-container {
        padding-top: 3.5rem;
    }

    /* hide coin feed */
    .crypto-feed-container {
        display: none;
    }

    .home-container .loader {
        display: none;
    }

    /* show button */
    .button--market {
        display: flex;
    }

}