/* --  >=1200 px  */
/* @media only screen and (min-width: 1200px) {} */

/* --  <=992 px  */
@media only screen and (max-width: 992px) {

    /* --HEADER */
    .header__desktop {
        width: var(--desktop-nav-narrow-width);
        padding: 0.75rem;
        align-items: center;
    }

    .desktop__nav__list {
        align-items: center;
    }

    .desktop__nav__item {
        display: block;
        border-radius: 0.75rem;
    }

    .desktop__nav__item__text {
        display: none;
    }

    .desktop__nav__post-btn__icon {
        display: block;
    }

    .desktop__nav__post-btn {
        width: 48px;
        height: 48px;
    }

    .desktop__nav__post-btn__text {
        display: none;
    }


    .header__desktop__menu-btn__text {
        display: none;
    }

    /* More Options Menu */
    .header__more__options {
        margin-left: calc(var(--desktop-nav-narrow-width) - 8px);
        margin-bottom: 2rem;
        width: 8rem;
    }




    /* --MAIN */
    main {
        width: calc(100% - var(--desktop-nav-narrow-width));
    }


}


/* --  <=768 px  */
/* @media only screen and (max-width: 768px) {} */


/* --  <=576 px  */
@media only screen and (max-width: 576px) {

    /* --HEADER */
    .header__desktop {
        display: none;
        visibility: hidden;
    }

    .header__mobile {
        display: block;
    }

    /* More Options Menu */
    .header__more__options {
        margin-left: initial;
        margin-bottom: initial;
        bottom: initial;
        left: initial;
        top: 0;
        right: 0;

        margin-top: calc(var(--mobile-header-top-height) - 8px);
        margin-right: 8px;
    }

    /* --MAIN */
    main {
        margin-top: var(--mobile-header-top-height);
        width: 100%;
    }



    /* --MODALS*/
    /* post editor modal */
    .modal__post-editor {
        max-width: none;
        max-height: none;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    /* display editor modal */
    .modal__display-editor {
        max-width: none;
        max-height: none;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .panel__accent-selector {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem 0;
    }

    .panel__accent-option {
        justify-self: center;
    }

    .panel__theme-selector {
        display: flex;
        flex-direction: column;
        padding: 0 0.75rem;
    }






}

/* --  <=440 px  */
/* @media only screen and (max-width: 440px) {} */